<footer class="bg-dark text-light pb-5 pt-3">
    <div class="container d-flex flex-column">
        <div class="container d-flex flex-wrap justify-content-evenly p-5 text-center">
            
            <div class="w-25">
                <h5 class="mb-4">INFORMACION</h5>
                <ul class="ps-0 mb-0 fs-5">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Servicio Tecnico</a></li>
                </ul>
            </div>
            <div class="w-25">
                <h5 class="mb-4">NUSTROS PRODUCTOS</h5>
                <ul class="ps-0 mb-0 fs-5">
                    <li><a href="">Iphone</a></li>
                    <li><a href="">Xiaomi</a></li>
                    <li><a href="">Samsung</a></li>
                    <li><a href="">Huawei</a></li>
                    <li><a href="">Computadores</a></li>
                </ul>
            </div>
            <div class="w-25">
                <h5 class="mb-4">CONTACTANOS</h5>
                <ul class="ps-0 mb-0 fs-5">
                    <li><a href="">celudigitalunilago@gmail.com</a></li>
                    <li><a href="">Calle 74 # 15-80 oficina 204 edificio osaka center</a></li>
                    <li><a href=""> Abierto de 10 a 18 hrs.</a></li>
                </ul>
            </div>
        </div>
        <div class="container d-flex flex-row justify-content-between border-top border-secondary pt-4">
            <div class="w-75">
                <p class="mb-0 ps-5" style="color: gray;"> Copyright CELUDIGITAL - Servicio tecnico celulares . Todos los derechos reservados.</p>
            </div>
            <div class="w-25 d-flex flex-wrap justify-content-end pe-5 align-items-baseline">
                <img src="../../../assets/img/facebook.png" alt="">
                <img src="../../../assets/img/logotipo-de-instagram.png" alt="">
                <img src="../../../assets/img/whatsapp.png" alt="">
                <img src="../../../assets/img/youtube.png" alt="">
            </div>
        </div>
        
    </div>

</footer>
