<section class="center container-fluid d-flex justify-content-evenly align-items-center" style="height: 100vh;">

    <form class="border p-5 pt-4 pb-5 shadow-lg mb-5 bg-body rounded d-flex flex-column h-auto w-25" style="width: 17%">
        <h4 class="text-center text-primary">Iniciar Sesion</h4>
        <hr class="mt-1" style="margin-bottom: 60px;">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuario</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresa tu usuario">
        </div>
        <div class="mb-5">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Escribe tu contraseña">
        </div>
        <div class="d-flex flex-column">
            <a href="" class="mb-2 text-decoration-none">¿Olvidaste tu contraseña?</a>
            <a href="http://localhost:4200/registroUsers" class="text-decoration-none">Registrate aqui</a>
        </div>
        <div class=" d-flex justify-content-center align-items-end" style="height: 70px;">
            <a type="submit" href="" class="btn text-white fs-6 bg-primary">Iniciar Sesion</a>
        </div>
        
    </form>

    <div class="w-50"></div>


</section>
