<section class="container d-flex flex-wrap text-center mt-5">
    <div class="p-5 w-25">
        <img src="../../../assets/img/logotipo-de-apple.png" alt="" class="w-25 mb-4">
        <h3 class="mb-4">Multiples Servicios</h3>
        <p>Reparacion de Celulares, Smartphone Iphone, Samsung, Xiaomi, Huawei, Tablets, Ipad, Computadores, Portátiles, Laptop, PC.</p>
    </div>
    <div class="p-5 w-25">
        <img src="../../../assets/img/herramienta-de-reparacion.png" alt="" class="w-25 mb-4">
        <h3 class="mb-4">Reparacion el mismo dia</h3>
        <p>La reparacion celulares toma de 2 a 24 horas, dependiendo del tipo de arreglo. Servicio totalmente gratis. Cobertura en todo bogota*</p>
    </div>
    <div class="p-5 w-25">
        <img src="../../../assets/img/signo-de-dolar.png" alt="" class="w-25 mb-4">
        <h3 class="mb-4">Ajustado a tu presupuesto</h3>
        <p>Te ofrecemos los mejores precios del mercado, adaptados a tu presupuesto. todos los medios de pago disponibles para una mayor comodidad.</p>
    </div>
    <div class="p-5 w-25">
        <img src="../../../assets/img/diamante.png" alt="" class="w-25 mb-4">
        <h3 class="mb-4">Servicio Tecnico Premium</h3>
        <p>Nuestra garantía es del 100% cubre la reparación de celulares y todos los repuestos de celulares instalados. Todos nuestros técnicos son certificados ISO9001.</p>
    </div>
</section>

<section class="container d-flex flex-wrap text-center mt-5">
    <div class="pt-5 w-50" style="padding: 8%;">
        <h2 class="mb-4">¿Porque somos la mejor opcion?</h2>
        <p class="mb-4">
            Contamos con mas de 10 años de experiencia en reparación y mantenimiento de celulares y equipos de computo.
            +50.000 equipos reparados.
            100% de nuestros clientes nos recomiendan.
            Certificación ISO 9001. Servicio tecnico celulares bogota
            Técnicos certificados con los más altos estándares de calidad.
            Cobertura en todo bogota. Servicio Domicilio.
        </p>
        <a href="" class="btn bg-light text-dark fw-bold border-dark p-2 ps-4 pe-4 rounded-pill">WHATSAPP</a>
    </div>
    <div class="p-5 w-50">
        <img src="../../../assets/img/Conheca-a-familia-de-celulares-Galaxy-S.png" alt="" class="w-100">
    </div>
</section>

<section class="bg-dark text-white">
    <div class="container d-flex flex-wrap text-center pt-5 pb-2 ">
        <div class="p-5 w-50">
            <img src="../../../assets/img/Wallpapers.png" alt="" class="w-100">
        </div>
        <div class="pt-5 w-50" style="padding: 8%;">
            <h2 class="mb-5">Servicio tecnico celulares android y apple</h2>
            <p class="mb-5">
                Contamos con un amplio portafolio de servicios de reparación para IPHONE - APPLE - XIAOMI - SAMSUNG - LG - HUAWEI - 3195277590
            </p>
            <a href="" class="btn btn-2 bg-transparent text-primary fw-bold border-primary p-2 ps-4 pe-4 rounded-pill">COTIZAR REFERENCIA</a>
        </div>
        
    </div>
</section>

<section class="container d-flex flex-wrap text-center mt-5 pb-5 pt-3">
    <div class="pt-5 w-50" style="padding: 8%;">
        <h2 class="mb-4">Servicio técnico de Computadores</h2>
        <p class="mb-4">
            Especialistas en reparación y mantenimiento de equipos de computo en bogotá.
            Ofrecemos servicios con todas las marcas:
            Dell, hp, lenovo, toshiba, acer, asus, sony vaio, samsung y apple.
            Servicio técnico a domicilio llámanos y danos el gusto de atenderte.
            + 15 años de experiencia
            + de 20.000 computadores reparados.
        </p>
        <a href="" class="btn bg-light text-dark fw-bold border-dark p-2 ps-4 pe-4 rounded-pill">COTIZAR</a>
    </div>
    <div class="p-5 w-50">
        <img src="../../../assets/img/asus-min.png" alt="">
    </div>
</section>