<nav class="navbar bg-dark nav-dark d-flex flex-row justify-content-between text-white-50 fixed-top">
    <div class="icon ms-5 d-flex flex-row align-items-center">
        <img src="../../../assets/img/icon.png" alt="">
        <a class="text-decoration-none text-white fs-5 ms-3" href="">Servicio Tecnico de Celulares</a>
    </div>
    <div class="options">
        <ul class="d-flex flex-row m-0 me-5 p-0 fs-5" style="list-style: none;">
            <li><a href="" class="text-decoration-none text-white-50 fs-5">Servicios</a></li>
            <li><a href="" class="text-decoration-none text-white-50 fs-5">Iphone</a></li>
            <li><a href="" class="text-decoration-none text-white-50 fs-5">Xiaomi</a></li>
            <li><a href="" class="text-decoration-none text-white-50 fs-5">Samsung</a></li>
            <li><a href="" class="text-decoration-none text-white-50 fs-5">Huawei</a></li>
        </ul>
    </div>
    <div class="login">
        <ul class="d-flex flex-row m-0 me-5 p-0 fs-5" style="list-style: none;">
            <li><a href="" class="text-decoration-none text-white-50 fs-5">Contacto</a></li>
            <li><a href="http://localhost:4200/login" class="text-decoration-none text-white-50 fs-5">Login</a></li>
        </ul>
    </div>
</nav>
