<section class="container-fluid d-flex justify-content-evenly align-items-center" style="height: 100vh;">
    <form class="border p-5 shadow-lg mb-5 bg-body rounded d-flex flex-column w-25 h-auto mt-5 pt-4">
      <h4 class="text-center text-primary">Registrar Usuario</h4>
      <hr class="mt-1" style="margin-bottom: 40px" />
      
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label text-green">Nombres</label>
        <input type="email" class="form-control" id="exampleInputEmail1" />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label text-green">Apellidos</label>
        <input type="email" class="form-control" id="exampleInputEmail1" />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label text-green">Telefono</label>
        <input type="email" class="form-control" id="exampleInputEmail1" >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label text-green">Correo Electronico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" />
      </div>
      
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label text-green">Contraseña</label>
        <input type="email" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label text-green">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" />
      </div>
      <div class="d-flex justify-content-center align-items-end" style="height: 70px">
        <a type="submit" href="" class="btn text-white fs-6 bg-primary">Guardar</a>
      </div>
    </form>

    <div class="w-50"></div>
  </section>